.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    padding-top: 20px; /* Space for the headers */
    text-align: center;
    
}

.thumbnail {
    position: relative;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.image-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    box-sizing: border-box;
}

.thumbnail img {
    width: 200px; /* Set your desired thumbnail size */
    height: auto;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

.thumbnail:hover .caption {
    opacity: 1;
}



div.lightbox > div.caption {
    opacity: 1;
    text-align: center;
}